html,body {
    background: url('../images/ingredients_bg_1.jpg') no-repeat center center fixed;
    /*background: url('../images/ingredients_bg_2.jpg') no-repeat center center fixed;*/
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
}

main 					{
	padding-top:30px;
}

/* HEADER
===================== */
header .navbar 		{
	border-radius:0;
}

/* NGANIMATE
====================== */

/* show and hide */
.show-hide-message.ng-hide-remove {
	-webkit-animation:zoomIn 0.3s both ease;
	-moz-animation:zoomIn 0.3s both ease;
	animation:zoomIn 0.3s both ease;
}

/* ANIMATIONS
====================== */
.spinner {
	animation:spin 1s infinite;
	-webkit-animation:spin 1s infinite;
	-moz-animation:spin 1s infinite;
}

@keyframes spin {
	from 	{ transform:rotate(0deg); }
	to 	{ transform:rotate(360deg); }
}

@-webkit-keyframes spin {
	from 	{ -webkit-transform:rotate(0deg); }
	to 	{ -webkit-transform:rotate(360deg); }
}

@-moz-keyframes spin {
	from 	{ -moz-transform:rotate(0deg); }
	to 	{ -moz-transform:rotate(360deg); }
}

.soft-bg {
  background-color: white;
  opacity: 0.9;
  padding: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}

h1 {
  color: white;
}

.recipe-image {
  border-style: solid;
  border-color: white;
  border-width: 20px;
  position: relative;
  margin: auto;
  display: block;
}
