<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome, {{ user.userData.name }}</h1>

  <div class='soft-bg'>
    <h3>{{ user.userData.email }}</h3>
    <div><a href="/users/{{ user.userData._id }}/edit">Edit Profile</a></div>
    <div>
      <h4>Your Ingredients:</h4>

      <table style="width:100%">
        <tr>
          <th>Name</th>
          <th>Quantity</th>
          <th>Unit</th>
          <th>Expiration Date</th>
          <th>_id</th>

        </tr>
        <tr ng-repeat="ingredient in user.userData.ingredients">
          <td ng-hide='ingredient == user.selectedIngredient'>
            {{ ingredient.name }}
          </td>
          <td ng-show='ingredient == user.selectedIngredient'>
            <input type="text" name="name" ng-model="ingredient.name">
          </td>
          <td ng-hide='ingredient == user.selectedIngredient'>
            {{ ingredient.qty }}
          </td>
          <td ng-show='ingredient == user.selectedIngredient'>
            <input type="text" name="name" ng-model="ingredient.qty">
          </td>
          <td ng-hide='ingredient == user.selectedIngredient'>
            {{ ingredient.unit }}
          </td>
          <td ng-show='ingredient == user.selectedIngredient'>
            <input type="text" name="name" ng-model="ingredient.unit">
          </td>
          <td ng-hide='ingredient == user.selectedIngredient'>
            {{ ingredient.expiry }}
          </td>
          <td ng-show='ingredient == user.selectedIngredient'>
            <input type="text" name="name" ng-model="ingredient.expiry">
          </td>
          <td>
            {{ ingredient._id }}
          </td>

          <td class="col-sm-2">
    				<a ng-href="#" class="btn btn-danger" ng-click='user.editIng(ingredient)' ng-hide='ingredient == user.selectedIngredient'>Edit</a>
    				<a ng-href="#" class="btn btn-success" ng-click='user.saveIngredientChanges()' ng-show='ingredient == user.selectedIngredient'>Save</a>
    				<!-- <a href="#" ng-click="user.deleteUser(person._id)" class="btn btn-primary">Delete</a> -->
    				<a href="#" ng-click="user.deleteIng($index)" class="btn btn-primary">Delete</a>
    			</td>
        </tr>
      </table>

    <h5></span><a href="/users/{{ user.userData._id }}/add_ing"><span class="glyphicon glyphicon-plus">Ingredient</a></h5>
    </div>
    <div>Grocery List: {{ user.userData.groceryList }}</div>
  </div>
  </body>
</html>
