<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Individual profile</h1>
    <h3>{{ user.userData.name }}</h3>
    <h3>{{ user.userData.email }}</h3>
    <h4><a href="/users/{{ user.userData._id }}/edit">Edit current user page</a></h4>
    <div>
      <h4>Your Ingredients:</h4>
      <ol>
        <li ng-repeat="ingredient in user.userData.ingredients">
          {{ ingredient.name }}
        </li>
      </ol>
    <h4><a href="/users/{{ user.userData._id }}/add_ing">Add ingredient</a></h4>
    </div>
    <div>Recipes: {{ user.userData.groceryList }}</div>

  </body>
</html>
