<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Individual profile</h1>
    <h3>{{ user.userData.name }}</h3>
    <h3>{{ user.userData.email }}</h3>
    <h4><a href="/users/{{ user.userData._id }}/edit">Edit current user page</a></h4>
    <div>
      <h4>Your Ingredients:</h4>

      <table style="width:100%">
        <tr>
          <th>Name</th>
          <th>Quantity</th>
          <th>Unit</th>
          <th>Expiration Date</th>
        </tr>
        <tr ng-repeat="ingredient in user.userData.ingredients">
          <td>{{ ingredient.name }}</td>
          <td>{{ ingredient.qty }}</td>
          <td>{{ ingredient.unit }}</td>
          <td>{{ ingredient.expiry }}</td>
        </tr>
      </table>

    <h4><a href="/users/{{ user.userData._id }}/add_ing">Add ingredient</a></h4>
    </div>
    <div>Recipes: {{ user.userData.groceryList }}</div>

  </body>
</html>
